@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/home.css")
<center>
    <div class="jumbotron">
        <h1>Car Insurance</h1>
        <p class="lead">Let us handle all your car insurance needs!</p>
        <p><a href="/Insuree/Create" class="btn btn-primary btn-lg">Get Quote Here &raquo;</a></p>
    </div>
</center>